*{
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,38,0,0.2);

}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;


}
#questionsContainer{
    width: 250px;
    height: 100px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sliderLine {
    display: flex;
    height: 250px;
    width: 2000px;
    position: relative;
    transition: all ease 0.3s;

}
.questionDiv{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.answer {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    width: 240px;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: lightblue;
    user-select: none;
    border-radius: 14px;
}
.answer:hover{
    background-color: rgba(4,0,255,0.67);
}
.answer:active{
    background-color: black;
    color: red;
}
.btnStart{
    width: 250px;
    height: 100px;
    font-size: 25px;
    border-radius: 14px;
}
.btnEnd{
    background-color: chartreuse;
    width: 250px;
    height: 100px;
    font-size: 25px;
    border-radius: 14px;
}
.btnEnd:hover{
    background-color: rgba(120,255,50,0.53);
}
.btn:active{
    background-color: gold;
    color: black;
}
#h1,.flesh {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flesh {
    size: A4;
}
.flesh:hover{
}
#questionsContainerAll{
    display: flex;
    overflow: hidden;
    position: relative;
    z-index:  100;
}
.circle{
    border: 1px solid black;
    border-radius: 50%;
    margin: 2px;
    width: 6px;
    height: 6px;

}
.circleBlack{
    border: 1px solid black;
    border-radius: 50%;
    margin: 2px;
    width: 6px;
    height: 6px;
    background-color: black;
    position: absolute;
}