body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
}
.container{
    display:  flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    align-content: space-evenly;
}
.container1{
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    margin-top: 10px;
}
#description {
    height: 50px;
}
#color {
    width: 100%;
}