body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.container{
    width: 100%;
    height: 100%;
}
#questionsContainer{
    width: 200px;
    height: 130px;
    margin: 30px auto;
    overflow: hidden;
}
.questionDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 120px;
}

#btnStart {
    width: 200px;
    height: 130px;
}

.answer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}